@charset "UTF-8";
body {
  background: repeat url("/static/img/bg2.gif");
  margin: 0;
  padding: 0;
  font-size: 13px;
}

html {
  font-family: Arial, Helvetica, Meiryo, sans-serif;
}

code {
  font-family: "Courier New", Courier, "MS ゴシック", monospace;
  color: #2e6442;
}

a {
  text-decoration: none;
  color: #1c62b9;
}
a:hover {
  text-decoration: underline;
}

.hid {
  display: none;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#main-content {
  margin-top: 10px;
}

.card {
  background: #fff;
  padding: 10px;
  border: 3px solid #FFB7B8;
  border-radius: 3px;
  max-width: 750px;
  margin: 0 auto;
  box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.25);
}

.content-snap-width-2 .card {
  max-width: 1200px;
}

.content-snap-width-3 .card {
  max-width: 1700px;
}

#nav {
  margin: 0 10px;
}
#nav .nav-link-container {
  position: relative;
  margin-right: 5px;
}
#nav a {
  position: absolute;
  text-align: center;
  width: 100%;
}
#nav a.active {
  color: #111;
  font-weight: 700;
}
#nav .measurement-base {
  font-weight: 700;
  text-align: center;
  visibility: hidden;
}

#header {
  height: 100px;
  background: url("/static/img/hana.png");
  background: -webkit-linear-gradient(90deg, #fff 300px, transparent), url("/static/img/hana.png");
  background: -o-linear-gradient(90deg, #fff 300px, transparent), url("/static/img/hana.png");
  background: -moz-linear-gradient(90deg, #fff 300px, transparent), url("/static/img/hana.png");
  background: linear-gradient(90deg, #fff 300px, transparent), url("/static/img/hana.png");
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#fff 300px', endColorStr='transparent', GradientType=0)";
  border-bottom: 1px solid #ecc;
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px 0;
}
#header #nav {
  margin: 5px 10px;
}
#header #logo a {
  position: absolute;
  background: no-repeat url("/static/img/logo.png");
}
#header #logo, #header #logo a {
  width: 406px;
  height: 78px;
}

#footer-container {
  border-top: 1px solid #ccc;
  margin-top: 6px;
  padding-top: 10px;
}

#footer {
  text-align: center;
}
#footer a {
  color: #666;
}
#footer a:hover {
  color: #1c62b9;
}

#index-content {
  font-size: 20px;
  text-align: center;
  margin: 15px 0;
}

#doc-header .doc-date {
  font-style: italic;
  color: #666;
}
#doc-header .doc-date b {
  color: #000;
}

.kawatool-tabs-tab {
  background: #ffb3b3;
  border: 1px solid #E38E9E;
  color: #fff;
  z-index: 3;
  height: 20px;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
}
.kawatool-tabs-tab:hover {
  background: #ffc0c0;
}
.kawatool-tabs-tab.kawatool-tabs-active {
  background: #fff;
  border-bottom-width: 0;
  color: #E38E9E;
  height: 24px;
  z-index: 4;
  left: 0;
  cursor: default;
}
.kawatool-tabs-tab.kawatool-tabs-active:hover {
  background: #fff;
}
.kawatool-tabs .kawatool-tabs-tab + .kawatool-tabs-tab.kawatool-tabs-active {
  left: -1px;
  margin-right: -1px;
}
.kawatool-tabs .kawatool-tabs-tab + .kawatool-tabs-tab {
  border-left-width: 0;
}
.kawatool-tabs .kawatool-tabs-tab.kawatool-tabs-active {
  border-left-width: 1px;
}
.kawatool-tabs-switcher * {
  margin: 0;
}
.kawatool-tabs-container {
  z-index: 2;
  display: block;
  border: 1px solid #E38E9E;
  position: relative;
  top: -1px;
  height: 300px;
}
.kawatool-tabs-container .kawatool-tabs-tab-content {
  display: none;
}
.kawatool-tabs-container .kawatool-tabs-tab-content.kawatool-tabs-active {
  display: block;
}